<!doctype html>
<html ng-app="app">

	<head>

		<title>Films list</title>

	</head>

	<body>
		<div id="page">

			<header id="header">

				<h1>Logo</h1>

			</header>

			<nav id="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</nav>

			<section id="main">

				<div><app-film-list/></div>

				<h1>Numbers</h1>

				<!--div ng-controller="SecondController as cntrlSecond">
					<app-numbers list="cntrlSecond.list"/>
				</div-->


			</section>

			<h1>numbers2</h1>

			<footer id="footer">
				&copy; something 2015
			</footer>
				
		</div>

		<script type="text/ng-template" id="filmListTemplate">
			<div ng-controller="FilmListController as cntrl">

				<h1>film list</h1>

				<select ng-options="studio for studio in cntrl.studios | orderBy" ng-model="cntrl.studio">
					<option>
				</select>

				<ul>
					<li ng-repeat="film in cntrl.films | filter : cntrl.studio">
						<span ng-if="film.cover!==undefined">
							<img ng-src="{{film.cover}}" width="50">
						</span>
						{{ film.title}}

						<span ng-controller="SecondController as cntrlSecond">
							<app-numbers  list="cntrlSecond.list"/>
						</span>
					</li>
				</ul>

			</div>
		</script>
		<script type="text/ng-template" id="appNumbers">
			<span>
				<span ng-repeat="number in list  track by $index">
					{{number}}.
				</span>
			</span>
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
		<script src="app/vendor/angular/angular.js"></script>

		<script>
			window.filmData = [
				{id : 1, title : 'A film 1', studio: 'Disney', cover : 'https://upload.wikimedia.org/wikipedia/en/4/4c/Lost_in_Translation_poster.jpg'},
				{id : 1, title : 'A film 2', studio: 'Pixar'},
				{id : 1, title : 'A film 3', studio: 'NBC'},
				{id : 1, title : 'A film 4', studio: 'Disney'}
			];
		</script>

		<script>
			angular.module('app', [])
			.controller('FilmListController', [function() {
				this.films = window.filmData;
				this.studios = _.uniq(_.pluck(this.films, 'studio'), false);
			}])
			.directive('appFilmList', [function() {
				return {
					restrict : 'E',
					templateUrl :'filmListTemplate'
				}
			}])
			.filter('unique', [function() {
				return function(arr, property) {
				    return _.uniq(_.pluck(arr, property), false); 
				};
			}])
			.controller('SecondController', [function() {
				this.list = [1,2,3,4,5,6];
			}])
			.directive('appNumbers', [function() {
				return {
					restrict : 'E',
					templateUrl : 'appNumbers',
					scope : {
						list : '='
					},
					link : function($scope) {
						
					}
				}
			}]);

		</script>

	</body>

</html>
