<!doctype html>
<html>
	<head>
		<title>{{ title }} - Martin App</title>
		<!-- TODO social -->
		<link rel="stylesheet" type="text/css" href="build/style.css" media="screen" />
		<base href="/">

	</head>
	<body ng-app='app'>

		<div id="page">

			<ng-view></ng-view>

		</div>


		<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script defer src="build/app.js"></script>

	</body>
</html>