<!doctype html>
<html>
	<head>

		<title>{{ title }} - Martin App</title>
		<!-- TODO social -->
		<!-- TODO style -->

	</head>
	<body>

		<div id="page">

			<h1>page</h1>

			<pre>

				{{ json uuid }}

			</pre>

		</div>

		<!-- TODO script -->

		<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


	</body>
</html>